.app_title {
    padding: 16px 6px 11px 6px;
}


.location_list {
    padding: 2px 4px 4px 4px;
}

.foursquare {
    position: absolute;
    bottom: 3px;
    width: 58%;
    right: 0;
}

.iw_title {
    font-size: 1.2em;
}
.iw_address {
    margin-bottom: 0;
    font-size: .92em;
}

.iw_subtitle {
    font-size: 1em;
}

.iw_address_title {
    margin-bottom: 2px;
    font-size: .96em;
}
@media (max-width: 767px) {
    .search {
        font-size: .7em;
        margin-top: 4px;
    }
}




.padding-zero {
    padding: 0 0 0 0;
}

.padding-sides-10 {
    padding: 0 10px 0 10px;
}

.search {
    width: 100%;
    font-size: .9em;
}


.sidebar_width {
    min-width: 300px;
}

.map_error {
    color: white;
    position: absolute;
    top: 51%;
    width: 100%;
    text-align: center;
}